

.topicContainer{

    .topicItem{
        display: inline-block;
        padding: 5px 6px;
        color: #477399;
        background: #e3ecf3;
        font-size: 12px;
        border-radius: 3px;
        margin: 2px;
        cursor: pointer;
        &:hover{

        }
    }
}